<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit an Employee</title>
    <th:block th:insert="~{/fragments :: link}"></th:block>
</head>
<body>

<header class="header-div" th:insert="fragments::header"></header>

<div class="content-div">

    <h1>Edit <span th:text="${employee.getEmployeeName()}"></span></h1>

    <form th:action="@{/edit-employee-handler}" method="post">
        <section>
            Full Name:</br>
            <input type="text" name="employeeName" th:value="${employee.getEmployeeName()}">
        </section>
        <section>
            Job Title: </br>
            <input type="text" name="job" th:value="${employee.getJob()}">
        </section>
        <section>
            Manager Id:</br>
            <input type="text" name="manager" th:value="${employee.getManager()}">
        </section>
        <section>
            Hire Date (YYYY-MM-DD) (Mandatory): </br>
            <input type="text" name="hireDate" th:value="${employee.getHireDate()}">
        </section>
        <section>
            Salary: </br>
            <input type="text" name="salary" th:value="${employee.getSalary()}">
        </section>
        <section>
            Commission: </br>
            <input type="text" name="commission" th:value="${employee.getCommission()}">
        </section>
        <section>
            <input type="hidden" name="id" th:value="${employee.getId()}">
            <input type="hidden" name="departmentNumber" th:value="${employee.getDepartmentNumber()}">
            <input type="submit" value="Edit the Employee">
        </section>
    </form>



</div> <!-- end of content-div -->

<footer class="footer-div" th:insert="fragments.html::footer"></footer>

</body>
</html>
