<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome To Employee and Department Management</title>
    <th:block th:insert="~{/fragments :: link}"></th:block>
</head>
<body>
<header class="header-div" th:replace="fragments::header">
</header>
<div class="content-div">
    <h1>Welcome to Employees & Departments !!!!!</h1>
    </br></br>
    <h2>Select an item from top menu to view contents</h2>
    </br>
    <b>or</b>
    <h2>Enter an employee id to see detail profile</h2>
    <form th:action="@{/employee}" method="post">
        <input type="text" name="id" placeholder="Enter Employee Id">
        <input type="submit" value="See Employee Profile">
    </form>
</div>

<footer class="footer-div" th:insert="fragments.html::footer"></footer>

</body>
</html>
